spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/ashokkoppula/agricart-config-server
          search-paths:
            - '{application}'

server:
  port: 8888
